@page "/login"

<MudLayout Style="background-color: var(--mud-palette-surface); width: 100%; max-height: 100rem;">
    <MainAppBar/>
    
    <MudStack Row="true" Justify="Justify.SpaceAround" Spacing="6" Style="margin-top: 10%;">
        <LoginComponent/>
        <RegisterComponent/>
    </MudStack>
    <div style="height: 30rem">
        
    </div>
    <PageFooterInfo/>
</MudLayout>

@code {
    
}